.twistedStache {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 1.2fr 1.3fr 1.2fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      "wspaceL heroImg heroImg heroImg wspaceR"
      "wspaceL services services services wspaceR"
      "wspaceL services services services wspaceR"
      "wspaceL services services services wspaceR"
      "footer footer footer footer footer";
  }
  
  .navbar {
    grid-area: navbar;
    /* border: 1px solid black; */
    height: 20vh;
    align-self: flex-start;
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: 0;
  }

  .faqBtn {
    /* border: 1px solid black; */
    margin-left: 1%;
    font-size: xx-large;
    text-decoration: none;
    color: black;
  }

  .homeBtn{
    /* border: 1px solid black; */
    padding-right: 1%;
    margin-left: 75%;
    font-size: xx-large;
    text-decoration: none;
    color: black;
  }
  
  .logo { grid-area: logo; }
  
  .navbuttons { grid-area: navbuttons; }
  
  .footer { grid-area: footer; }
  
  .wspaceL { grid-area: wspaceL; }
  
  .wspaceR { grid-area: wspaceR; }
  
  .heroImg { grid-area: heroImg; }
  
  .services { grid-area: services; }
  