.twistedStache {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.2fr 1.2fr 1.3fr 1.2fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      "heroImg heroImg heroImg heroImg heroImg"
      "wspaceL services services services wspaceR"
      "wspaceL services services services wspaceR"
      "wspaceL services services services wspaceR"
      "footer footer footer footer footer";
  }
  
  .navbar {
    grid-area: navbar;
    /* border: 1px solid black; */
    height: 20vh;
    align-self: flex-start;
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: 0;
  }

  .navbar-brand {
    /* border: 1px solid black; */
    margin-bottom: 0;
  }

  .faqBtn {
    /* border: 1px solid black; */
    margin-left: 1%;
    font-size: xx-large;
    text-decoration: none;
  }

  .homeBtn{
    /* border: 1px solid black; */
    padding-right: 1%;
    margin-left: 75%;
    font-size: xx-large;
    text-decoration: none;
  }
  
  /* .logo { 
    grid-area: logo; 
    margin: 0;
  } */
  
  /* .navbuttons {  */
    /* grid-area: navbuttons; */
    /* border: 1px solid black; */
    /* justify-self: center; */
    /* text-align: right; */
   /* } */
  
  .footer { grid-area: footer; }
  
  .wspaceL { grid-area: wspaceL; }
  
  .wspaceR { grid-area: wspaceR; }
  
  .heroImg { 
    grid-area: heroImg;
    /* border: 1px solid black; */
    margin-top: 0;
  }
  
  .services { grid-area: services; }


.navBtn {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: x-large;
  cursor: pointer;
  margin-right: 5%;
}

.buildingImg {
  width: 75%;
  height: auto;
  border: 1px solid black;
  margin-top: 0;
  margin-left: 15%;
}

.heroInfo {
  text-align: center;
  font-size: 300%;
}